.detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 60px;
}

.section-detail {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.img-center {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}

.img-detail {
  object-fit: cover;
  height: 400px;
  width: 300px;
  padding: 20px;
  border-radius: 40px;
}

.card-center {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-center > hgroup > h2 {
  padding-bottom: 10px;
  text-decoration: underline;
  color: black;
}

.card-center > hgroup > p {
  padding: 10px;
  font-size: 20px;
  color: black;
}

.div-button {
  padding-top: 20px;
}

.description-style {
  padding: 0;
  text-decoration: underline;
}
