.detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 60px;
}

.image-container {
  object-fit: contain;
  width: 30vw;
}

.section-detail {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.description-container {
  width: 45%;
  padding: 50px 50px 0 50px;
}

.img-center {
  display: flex;
  width: 60vw;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}

.img-detail {
  object-fit: cover;
  height: 400px;
  width: 300px;
  padding: 20px;
  border-radius: 40px;
}

.card-center {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
  padding-left: 20px;
}

.button-return {
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px 0;
  width: 8%;
  text-align: center;
  transform: 0.3s;
  & p {
    font-size: 18px;
    font-weight: bold;
  }
}

.button-return:hover {
  opacity: 0.75;
  background-color: black;
}

.card-center > hgroup > h2 {
  padding-bottom: 10px;
  text-decoration: underline;
  color: black;
}

.card-center > hgroup > p {
  padding: 15px;
  font-size: 20px;
  color: black;
}

.div-button {
  padding-top: 20px;
  padding-left: 25px;
  width: 20%;
}

.description-style {
  padding: 0;
  text-decoration: underline;
}
