.favorite {
  height: 45vw;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card-fav {
  width: 300px;
  height: 320px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.card-fav > img {
  height: 280px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.card-fav > figcaption {
  text-align: center;
  padding: 10px;
}
