#recent-articles {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 50px 0;
}

.clickable-card {
  width: 500px;
  height: 500px;
  border: 2px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(17, 17, 17, 0.842);
}

.clickable-card:hover {
  transform: scale(1.05);
}

.clickable-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
