#recent-articles {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding: 50px 0;
}

.clickable-card {
  width: 500px;
  height: 500px;
  border: 2px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(17, 17, 17, 0.842);
  animation: slideIn 2.5s forwards;
  opacity: 0;
}

.visible {
  opacity: 1;
}

.clickable-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: 1s;
}
.clickable-card img:hover {
  opacity: 0.5;
}

/* animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
