.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 8px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  width: 300px;
  padding-bottom: 16px;
}

.card-1 > figure,
.card-2 > figure,
.card-3 > figure,
.card-4 > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--button-content-color);
  border-radius: 10%;
  box-shadow: white 0px 6px 12px -2px, white 0px 3px 7px -3px;
}

.card-1 > figure > img,
.card-2 > figure > img,
.card-3 > figure > img,
.card-4 > figure > img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  object-position: top;
}
