* {
  margin: ;
  padding: 0;
  text-decoration: none;
}

footer {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

img {
  width: 3vw;
  padding: 0.5vw;
}
a {
  padding: 1vw;
}
