nav > ul {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: beige;
}

nav > h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 20vh;
  background-color: rgb(247, 244, 250);
}

nav > img {
  height: auto;
  width: 200px;
}
nav > ul {
  display: flex;
  gap: 3rem;
  flex-grow: 1; /* Permet aux éléments de prendre de l'espace */
  justify-content: space-around; /* Distribue l'espace entre les éléments */
}

nav ul li {
  flex: 1; /* Permet aux éléments de s'étendre également */
}

nav ul li a {
  width: 100%; /* Permet au lien d'occuper toute la largeur de l'élément li */
  display: flex; /* Utilise flexbox pour centrer le texte */
  justify-content: center; /* Centre le texte horizontalement */
  align-items: center; /* Centre le texte verticalement */
  padding: 15px 0; /* Ajustez le rembourrage pour le rendre plus équilibré sans trop d'espace */
  border: 2px solid #000; /* Ajoute une bordure noire de 2px */
  border-radius: 15px; /* Bords arrondis de 15px */
  text-decoration: none; /* Supprime le soulignement par défaut */
  color: #000; /* Couleur du texte */
  transition: background-color 0.3s; /* Ajoute une transition douce pour le hover */
}

nav ul li a:hover {
  background-color: #ee6060; /* Change la couleur de fond au survol */
}
/* menu deroulant */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(230, 224, 224);
  min-width: 100%;
  box-shadow: 0 8px 16px rgba(12, 7, 26, 0.2);
  z-index: 1;
  border-radius: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 8px 16px;
}

.dropdown-content li a {
  text-decoration: none;
  color: rgb(82, 17, 167);
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.dropdown-content li a:hover {
  background-color: rgba(82, 17, 167, 0.1); /* Couleur de fond au survol du lien */
  color: rgb(82, 17, 167); /* Couleur du texte au survol (si vous souhaitez la conserver) */
}

.dropdown:hover + h1 {
  transform: translateY(-10px); /* Le h1 remonte de 10px */
}

/* Vous pouvez également changer la taille du h1 */
.dropdown:hover h1 {
  font-size: 2.5rem; /* Change la taille de la police */
  transition: all 0.3s ease-in-out; /* Une transition douce */
}
