/* Switch title with userContext*/

.logofit {
  padding-left: 15px;
  padding-top: 20px;
}

nav > ul {
  list-style: none;
}

nav > ul,
nav > ul > li > ul {
  list-style: none;
  padding-right: 25px;
}

nav > h1 {
  text-align: center;
  margin: 0;
  font-size: 32px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  background-color: var(--overlay-background-color);
}

.logo {
  height: 80px;
  width: auto;
  border: #000 solid;
}

.logo2 {
  display: none;
}

nav > ul {
  display: flex;
  gap: 3rem;
  flex-grow: 1;
  justify-content: space-around;
}
nav ul li {
  flex: 1;
}
nav ul li {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border: 2px solid #000;
  border-radius: 15px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s;
}
nav ul li:hover {
  background-color: rgb(231, 230, 230);
}

/* menu deroulant */
.dropdown {
  position: relative;
  display: block;
  text-align: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(12, 7, 26, 0.2);
  z-index: 1;
  border-radius: 15px;
  padding: 0;
}
.dropdown-content a {
  text-align: center;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown-content li {
  text-decoration: none;
  background-color: white;
  width: 88%;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s;
}
.dropdown:hover h1 {
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 800px) {
  .logo {
    width: 100px;
    height: auto;
  }
  nav > h1 {
    display: none;
  }

  .logo2 {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .h3-text {
    display: none;
  }

  nav > ul {
    justify-content: center;
    gap: 1rem;
  }
  nav ul li {
    padding: 0;
    border: none;
    background-color: transparent;
    width: auto;
  }
  .dropdown-content {
    box-shadow: none;
  }

  .arrow {
    display: none;
  }

  .title {
    display: none;
  }
}
